<a href="https://colab.research.google.com/github/helenpervez123/Rate-of-Return-/blob/main/simple_returns_part_i_lecture_yahoo_py3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade pandas-datareader
!pip install --upgrade pandas
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 7.5 MB/s
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#calculate the simple rate of return for proctor and gamble

In [ ]:
PG = wb. DataReader ("PG", data_source= "yahoo", start= "1995-1-1")
print (PG)

                  High         Low        Open       Close     Volume  \
Date
1995-01-03   15.625000   15.437500   15.468750   15.593750  3318400.0
1995-01-04   15.656250   15.312500   15.531250   15.468750  2218800.0
1995-01-05   15.437500   15.218750   15.375000   15.250000  2319600.0
1995-01-06   15.406250   15.156250   15.156250   15.281250  3438000.0
1995-01-09   15.406250   15.187500   15.343750   15.218750  1795200.0
...                ...         ...         ...         ...        ...
2022-10-14  127.019997  124.769997  126.750000  125.080002  5516800.0
2022-10-17  128.279999  125.860001  126.010002  127.339996  6664600.0
2022-10-18  130.070007  127.660004  129.330002  128.369995  7114200.0
2022-10-19  133.000000  129.509995  131.639999  129.559998  9989800.0
2022-10-20  129.750000  128.059998  128.619995  129.610001  1007164.0

             Adj Close
Date
1995-01-03    7.875522
1995-01-04    7.812393
1995-01-05    7.701914
1995-01-06    7.717696
1995-01-09    7.686132
...                ...
2022-10-14  125.080002
2022-10-17  127.339996
2022-10-18  128.369995
2022-10-19  129.559998
2022-10-20  129.610001

[7001 rows x 6 columns]

In [ ]:
PG. head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   7.875522
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.812393
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.701914
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.717696
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.686132

In [ ]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-10-14,127.019997,124.769997,126.750000,125.080002,5516800.0,125.080002
2022-10-17,128.279999,125.860001,126.010002,127.339996,6664600.0,127.339996
2022-10-18,130.070007,127.660004,129.330002,128.369995,7114200.0,128.369995
2022-10-19,133.000000,129.509995,131.639999,129.559998,9989800.0,129.559998
2022-10-20,129.750000,128.059998,128.619995,129.610001,1007164.0,129.610001

## Simple Rate of Return

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [ ]:
PG['simple_return'] = (PG['Adj Close'] / PG['Adj Close'].shift(1)) - 1
print (PG['simple_return'])

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014141
1995-01-06    0.002049
1995-01-09   -0.004090
                ...
2022-10-14   -0.009738
2022-10-17    0.018068
2022-10-18    0.008089
2022-10-19    0.009270
2022-10-20    0.000386
Name: simple_return, Length: 7001, dtype: float64

In [ ]:
#calculate simple rate of return for microsoft

In [ ]:
MSFT = wb.DataReader ("PG", data_source = "yahoo", start = "1995-1-1")
print(MSFT)

                  High         Low        Open       Close     Volume  \
Date
1995-01-03   15.625000   15.437500   15.468750   15.593750  3318400.0
1995-01-04   15.656250   15.312500   15.531250   15.468750  2218800.0
1995-01-05   15.437500   15.218750   15.375000   15.250000  2319600.0
1995-01-06   15.406250   15.156250   15.156250   15.281250  3438000.0
1995-01-09   15.406250   15.187500   15.343750   15.218750  1795200.0
...                ...         ...         ...         ...        ...
2022-10-14  127.019997  124.769997  126.750000  125.080002  5516800.0
2022-10-17  128.279999  125.860001  126.010002  127.339996  6664600.0
2022-10-18  130.070007  127.660004  129.330002  128.369995  7114200.0
2022-10-19  133.000000  129.509995  131.639999  129.559998  9989800.0
2022-10-20  129.770004  128.059998  128.619995  128.529999  1189929.0

             Adj Close
Date
1995-01-03    7.875523
1995-01-04    7.812391
1995-01-05    7.701917
1995-01-06    7.717697
1995-01-09    7.686134
...                ...
2022-10-14  125.080002
2022-10-17  127.339996
2022-10-18  128.369995
2022-10-19  129.559998
2022-10-20  128.529999

[7001 rows x 6 columns]

In [ ]:
MSFT.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   7.875523
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.812391
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.701917
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.717697
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.686134

In [ ]:
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-10-14,127.019997,124.769997,126.750000,125.080002,5516800.0,125.080002
2022-10-17,128.279999,125.860001,126.010002,127.339996,6664600.0,127.339996
2022-10-18,130.070007,127.660004,129.330002,128.369995,7114200.0,128.369995
2022-10-19,133.000000,129.509995,131.639999,129.559998,9989800.0,129.559998
2022-10-20,129.770004,128.059998,128.619995,128.529999,1189929.0,128.529999

In [ ]:
MSFT["simple_return"] = (PG ["Adj Close"]/ PG ["Adj Close"]. shift(1))-1
print(MSFT["simple_return"])

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014141
1995-01-06    0.002049
1995-01-09   -0.004090
                ...
2022-10-14   -0.009738
2022-10-17    0.018068
2022-10-18    0.008089
2022-10-19    0.009270
2022-10-20    0.000386
Name: simple_return, Length: 7001, dtype: float64